In [3]:
import pandas as pd

In [10]:
# i'm only going to use movieid and title
movies = pd.read_csv(r'C:\Users\user\code\datasets\Movies Dataset\movies.csv', usecols = ['movieId', 'title'] )

In [11]:
movies

      movieId                               title
0           1                    Toy Story (1995)
1           2                      Jumanji (1995)
2           3             Grumpier Old Men (1995)
3           4            Waiting to Exhale (1995)
4           5  Father of the Bride Part II (1995)
...       ...                                 ...
2495   109487                 Interstellar (2014)
2496   111362   X-Men: Days of Future Past (2014)
2497   111759             Edge of Tomorrow (2014)
2498   112556                    Gone Girl (2014)
2499   112852      Guardians of the Galaxy (2014)

[2500 rows x 2 columns]

In [18]:
# i am only considering userId, movieId and rating
ratings = pd.read_csv(r'C:\Users\user\code\datasets\Movies Dataset\ratings.csv', usecols = ['userId','movieId', 'rating'])
ratings

        userId  movieId  rating
0        12882        1     4.0
1        12882       32     3.5
2        12882       47     5.0
3        12882       50     5.0
4        12882      110     4.5
...        ...      ...     ...
264500   90097    54286     5.0
264501   90097    60069     4.5
264502   90097    68358     5.0
264503   90097    68954     5.0
264504   90097    73017     4.0

[264505 rows x 3 columns]

In [ ]:
# i want to use userId as column and movieId as index of the rows
# and the columns should be filled by ratings